@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100vh;
}

.navbar {
  background-color: #000 !important;
  .nav-link, .navbar-brand {
    color: #fff !important;
  }
}

.jumbotron {
  background-image: asset-url('jumbotron-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home-container {
  min-height: 425px;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
  min-height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}
