<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Hamzat Ajanaku', "https://github.com/hamzat06", class: 'text-success font-weight-bold' %></small>
  </div>
</footer>
